.visor-luz {
  position: absolute;
  top: 28%;
  left: 30%;
  width: 40px;
  height: 10px;
  background: #ff0033;
  opacity: 0.9;
  box-shadow: 0 0 10px #ff0033, 0 0 20px #ff0707;
  animation: escanear 5s linear infinite;
  border-radius: 25%;
}

.visor-oficial-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visor-oficial {
  position: absolute;
  top: 43px;
  left: 30%;
  width: 30px;
  height: 7px;
  background: #ff0033;
  opacity: 0.9;
  box-shadow: 0 0 5px #ff0033, 0 0 10px #ff0707;
  animation: escanear-oficial 3s linear infinite;
  border-radius: 21%;
}

@keyframes escanear-oficial {
  0% {
    transform: translateX(37px);
  }
  50% {
    transform: translateX(60px);
  }
  100% {
    transform: translateX(37px);
  }
}

.robocop-visor-container {
  position: relative;
  width: 20rem;
  height: 40rem;
  overflow: visible;
}

.animate-spin-slow {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.neon-image {
  background-size: cover;
  background-position: center;
  border: 3px solid #00f7ff;
  box-shadow: 0 0 15px #00f7ff, 0 0 25px #00f7ff;
  border-radius: 1rem;
  transition: transform 0.4s ease;
}
.neon-image:hover {
  transform: scale(1.05);
}
