@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap');

@import "tailwindcss";



:root {
  background-color: rgb(20, 0, 0);
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.font-orbitron {
  font-family: 'Orbitron', sans-serif;
}

.animate-spin-slow {
  animation: spin 3s linear infinite;
}